{% extends 'layout.html' %}

{% block body%}
<br><br>
    {% for album in albums %}
        <div class="card col-md-4 offset-md-4">
            <img class="card-img-top" src="static/albums/{{album.album_name}}.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" id="card_title" align="center"> <b>{{album.artist}}</b>,  {{album.album_name}}</h5><hr>
                <a href="/buy/{{album.album_name}}" method="POST" class="btn btn-primary" align="center" >Buy</a><br><hr>
                <form id="form" name="form" method="post">
                    <input type="range" name="rate" min="1" max="5" step="1" list="tickmarks" required>

                    <datalist id="tickmarks">
                      <option value="1">
                      <option value="2">
                      <option value="3">
                      <option value="4">
                      <option value="5">
                    </datalist>
                    <br>
                    <input type="text" name="comment" placeholder="Put your comment here" required><br><br>
                    <input class="btn btn-lg btn-primary" type="submit" name="submit" value="Make the rating">
                </form>
                {% for rate in rates %}
                    {% if rate.username == username %}
                        <p class="card-text"><b style="color:light-blue">{{rate.username}}:</b> {{rate.comment}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


<script>
    function objectifyForm(form) {//serialize data function
        var data = {};
        var dataArray = form.serializeArray();
        for(var i=0;i<dataArray.length;i++){
          data[dataArray[i].name] = dataArray[i].value;
        }
        return JSON.stringify(data);
      }
      $(document).ready(function(){
          $("#form").on('submit', function(e){
            e.preventDefault();

            val = document.getElementById("card_title").value();
            console.log(val);

            linkURL = '../rate/' + val;
            $.ajax({
                url: linkURL, // url where to submit the request
                type : "POST", // type of action POST || GET
                dataType : 'json', // data type
                contentType: 'application/json',
                data : objectifyForm($("#form")), // post data || get data
                success : function(result) {
                    window.location.assign("/");
                },
            })
          });
      });
</script>

{% endblock %}
